{% extends "main.html" %}

{% block content %}
  <div class="banner-sign-up">
    <div class="login">
    {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                {% endfor %}
    {% endif %}

        <form action="{% url 'otp-user-verify' %}" method="post">
            {% csrf_token %}
            <h2>OTP Here</h2>
            <label for="username">Change phone number</label>
            <input type="text" name="phone" placeholder="Enter New number" id="phone">
            <input type="hidden" name="otp_user_id" id="otp_user_id" value="{{user_id}}">
            <button class="input-box">Verify Otp</button>
            <div class="text">
                <h3>Don't have an account ? <a href="/reg">Sign Up</a></h3>
            </div>
        </form>
    </div>
  </div>


  <style>
     .alert-error{background: #e1a4a4;color: red;font-size: 14px;font-weight: 300;}
  </style>
{% endblock %}
